<?xml version="1.0"?>
<model>
  <name>catapaf_common</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Clement</name>
    <email>clement@example.com</email>
  </author>
  <description>
    Common meshes and resources for TurtleBot3 with Catapaf
  </description>
</model>
